
/* ウィンドウサイズが0px */
@media screen and (min-width: 0px) {
  
}
/* ウィンドウサイズが480px */
@media screen and (min-width:480px){
}
/* ウィンドウサイズが700px */
@media screen and (min-width:780px){
}
/* ウィンドウサイズが1020px */
@media screen and (min-width:1020px){
  body{
    width : 100%;
    height: 100%;
    font-family: '筑紫B丸ゴシック';
  }
  /* 全体========================================== */
  .wrapper{
    position: relative;
    width  : 1024px;
    height:auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
    margin : 0 auto;
  }
  /* タイトル========================================== */
  .title{
    width        :900px;
    height       : 50px;
    margin       : 20px auto;
    background   : #ddd;
    text-align   : center;
    line-height  : 50px;
    border-radius: 20px;
    font-size    : 40px;
    color        :#185E89;

  }
  /* メイン========================================== */
  .c__store_main{
    width         : 900px;
    margin        : 20px auto;
    height        : 100%;
    padding-bottom:100px;
    margin-bottom: 100px;
  }
  /* ボタン========================================== */
  .c__button_list {
    position      : fixed;
    bottom        : 50px;
    height        : 100px;
    width         : 1024px;
  }
  .c__button_list ul{
    display      : flex;
    margin       : 0px auto;
    width        : 1024px;
  }
  .c__button_list li{
    width        : 300px;
    height       : 100px;
    margin       : 0px 20px;
  } 
  .c__button_list li>a{
    display        : inline-block;
    width          : 300px;
    height         : 100px;
    font-size      : 30px;
    line-height    : 100px;
    text-align     : center;
    color          : #103B51;
    font-weight    : bold;
    position       : relative;
    text-decoration: none;
    background     : linear-gradient(-30deg, #29ABE2 100px, #ebf9ff 200px);   
    border-bottom  : solid 8px #103B51;/**/
    border-right   : solid 8px #103B51;/**/  
    border-radius  : 100% 50% 100% 50%; 
  }
  .c__button_list li>a:hover {
    border           :none;
    -ms-transform    : translate(8px,8px);
    -webkit-transform: translate(8px,8px);
    transform        : translate(8px,8px);
  }
  .c__button_list li>a:before{    
    content   : "";
    position  : absolute;
}

.c__button_list li>a:after{   
    content   : "";
    position  : absolute;
}

/* Drag_store_map========================================== */
#store_map img{
  width        : 900px;
  margin       : 0px auto;

}
/* Drag_list========================================== */
/* タイトル */
#list>div{
  height : 25px;
  border:solid #ddd 2px;
  margin-top : 50px;
  color: #103B51;
  font-weight: bold;
  line-height: 25px;
  padding-left:50px; 

}
/* 薬品リスト */

#list li{
  margin : 10px;
  padding: 10px ;
  border-bottom: solid #103B51 1px;
  display: flex;

}
#list li>div:nth-child(1){
  width:95px;
  height: 95px;
}
#list li>div:nth-child(1)>img{
  width:95px;
  height: 95px;

}
#list li>div:nth-child(2){
  width: 600px;
  height: 95px;
  padding-left: 10px;
}
#list li>div:nth-child(2) h2{
  font-size : 24px;
}

#list li>div:nth-child(3){
  width: 165px;
  height: 95px;  
}
#list li>div:nth-child(3)>a{
  display        : inline-block;
  width          : 160px;
  height         : 30px;
  font-size      : 16px;
  margin         : 20px auto;
  padding-right   : 10px;
  line-height    : 30px;
  text-align     : right;
  color          : #fff;
  font-weight    : bold;
  position       : relative;
  text-decoration: none;
  background     : url("./../image/Drag_search/icon_buttom.png");
  background-size: auto 31px;
  border-bottom  : solid 5px #FF5B00;/**/
  border-left   : solid 5px #FF5B00;/**/   
  border-top   : solid 2px #ddd;/**/ 
  border-right   : solid 2px #ddd;/**/ 
  
  
}
#list li>div:nth-child(3)>a:hover {
  border           :none;
  -ms-transform    : translate(5px,5px);
  -webkit-transform: translate(5px,5px);
  transform        : translate(5px,5px);
}
#list li>div:nth-child(3)>a:before{    
  content   : "";
  position  : absolute;
}

#list li>div:nth-child(3)>a:after{   
  content   : "";
  position  : absolute;
}

/* Drag_details========================================== */
/* Drag_seatch========================================== */
#seatch{
  position: relative;
}
#seatch table {
  border-collapse: collapse;  /* セルの線を重ねる */
  height: 150px;
}

#seatch th,#seatch td{
  padding : 10px 10px;
  border : solid #fff 2px;

}
#seatch td{
  width : 350px;
  padding : 0px 50px;
  background: #bacaff;
}
#seatch th{
  background: #29ABE2 ;
  color:#fff;
}
#seatch table input{
  width : 100%;
}
form{
  display:flex;
}
.c__seatch_bottom input{
  display        : inline-block;
  width          : 200px;
  height         : 100px;
  top : 15%;
  left: 25%;
  font-size      : 30px;
  line-height    : 100px;
  text-align     : center;
  color          : #fff;
  font-weight    : bold;
  position       : relative;
  background     : #29ABE2 ;   
  border-bottom  : solid 8px #103B51;/**/
  border-right   : solid 8px #103B51;/**/  
}
.c__seatch_bottom input:hover {
  border           :none;
  -ms-transform    : translate(8px,8px);
  -webkit-transform: translate(8px,8px);
  transform        : translate(8px,8px);
}
.c__seatch_bottom input:before{    
  content   : "";
  position  : absolute;
}

.c__seatch_bottom input:after{   
  content   : "";
  position  : absolute;
}
.seatch_block>div{
  height : 25px;
  border:solid #ddd 2px;
  margin-top : 50px;
  color: #103B51;
  font-weight: bold;
  line-height: 25px;
  padding-left:50px; 
}

.seatch_block li{
  margin : 10px;
  padding: 10px ;
  border-bottom: solid #103B51 1px;
  display: flex;

}
.seatch_block li>div:nth-child(1){
  width:95px;
  height: 95px;
}
.seatch_block li>div:nth-child(1)>img{
  width:95px;
  height: 95px;

}
.seatch_block li>div:nth-child(2){
  width: 600px;
  height: 95px;
  padding-left: 10px;
}
.seatch_block li>div:nth-child(2) h2{
  font-size : 24px;
}

.seatch_block li>div:nth-child(3){
  width: 165px;
  height: 95px;  
}
.seatch_block li>div:nth-child(3)>a{
  display        : inline-block;
  width          : 160px;
  height         : 30px;
  font-size      : 16px;
  margin         : 20px auto;
  padding-right   : 10px;
  line-height    : 30px;
  text-align     : right;
  color          : #fff;
  font-weight    : bold;
  position       : relative;
  text-decoration: none;
  background     : url("./../image/Drag_search/icon_buttom.png");
  background-size: auto 31px;
  border-bottom  : solid 5px #FF5B00;/**/
  border-left   : solid 5px #FF5B00;/**/   
  border-top   : solid 2px #ddd;/**/ 
  border-right   : solid 2px #ddd;/**/ 
  
}
.seatch_block li>div:nth-child(3)>a:hover {
  border           :none;
  -ms-transform    : translate(5px,5px);
  -webkit-transform: translate(5px,5px);
  transform        : translate(5px,5px);
}
.seatch_block li>div:nth-child(3)>a:before{    
  content   : "";
  position  : absolute;
}

.seatch_block li>div:nth-child(3)>a:after{   
  content   : "";
  position  : absolute;
}
/* Mane_Drag_Arrival========================================== */
/* Mane_Drag_Arrival_History========================================== */

}


