
/* ウィンドウサイズが0px */
@media screen and (min-width: 0px) {
	div#contents-wrap {
  width: 90%;
  height  : auto;
	margin: 30px auto 100px;
  }
  div#delay-show{
    width  : 90%;
    margin : 0 auto;
  }  

	#fadein_area {
		width: 200px;
	}
}
/* ウィンドウサイズが480px */
@media screen and (min-width:480px){
	div#contents-wrap {
  width: 450px;
  height  : auto;
	margin: 30px auto 100px;
  }	
  div#delay-show{
    width  : 400px;
    margin : 0 auto;
  }  
	#fadein_area {
		width: 400px;
	}
}
/* ウィンドウサイズが700px */
@media screen and (min-width:780px){
	div#contents-wrap {
  width: 750px;
  height  : auto;
	margin: 30px auto 100px;
  }
  div#delay-show{
  }  
	#fadein_area {
		width: 600px;
	}
}
/* ウィンドウサイズが1020px */
@media screen and (min-width:1020px){
	div#contents-wrap {
  width: 1000px;
  height  : auto;
	margin: 30px auto 100px;
  }
  div#delay-show{

  }  
  div#delay-show{
  }  

	#fadein_area {
		width: 600px;
	}
}

#fadein_area ul li {
  float:left;
}




#delay-show2 ul li {
  position: relative;
}