
/* ウィンドウサイズが0px */
@media screen and (min-width: 0px) {
  
}
/* ウィンドウサイズが480px */
@media screen and (min-width:480px){
}
/* ウィンドウサイズが700px */
@media screen and (min-width:780px){
}
/* ウィンドウサイズが1020px */
@media screen and (min-width:1020px){
  .wrapper{
    width : 1024px;
  }
  .heder{
    width:900px;
    height: 50px;
    margin: 20px auto;
    background: #ddd;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;


  }
  #store_map{
    width : 900px;
    margin: 20px auto;
  }
  #store_map img{
    width: 900px;
  }
  .button_list ul{
    display: flex;
  }
  .button_list li{
    width: 300px;
    height: 100px;
    background: linear-gradient(90deg, #29ABE2 150px, white 150px);   
    border : solid #29ABE2 1px;
    margin : 0px 20px;
    border-radius: 50px;

  } 
}
/* 11インチ2,388 x 1,668ピクセル解像度、264ppi*/

/* 12インチ2,732 x 2,048ピクセル解像度、264ppi*/
